<p-card> 
  <ng-template pTemplate="header">
    <h3>
      <a
        [title]="producto.name + ' details'"
        [routerLink]="['/products', producto.id]">
        {{ producto.name }}
      </a>
      <button
          type="button"
          (click)="showDialog()"
          icon="pi pi-info-circle"
          label="Mostrar"

          
          ></button>
    </h3> 
    </ng-template>
      <p *ngIf="producto.description">Descripción: {{ producto.description }}</p> 
      <button type="button" (click)="share()">Compartir</button> 
      
      <ng-template pTemplate="footer">
     <app-product-alerts [product]="producto">
         </app-product-alerts> </ng-template> </p-card>
         

         <p-dialog header="{{producto.name}}" [(visible)]="display">
          Precio: {{producto.price}}
          <img src="./assets/phones/{{producto.images}}" width="100px" height="100px" alt="Sin
          imagen">
          <button type="button" (click)="addToCart(producto)">Buy</button>
          </p-dialog>


          

         
         



         